<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.github.mikanbako.buildscriptextension.sample.tests"
          android:versionCode="1"
          android:versionName="1.0">

    <application>
        <uses-library android:name="android.test.runner" />
    </application>

    <instrumentation android:name="com.github.mikanbako.buildscriptextension.sample.SuccessfulTestRunner"
                     android:targetPackage="com.github.mikanbako.buildscriptextension.sample"
                     android:label="Tests for successful."/>
    <instrumentation android:name="com.github.mikanbako.buildscriptextension.sample.FailureTestRunner"
                     android:targetPackage="com.github.mikanbako.buildscriptextension.sample"
                     android:label="Tests for failure."/>
</manifest>
